<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32897545778-estr1cgh0la0nkqb4fdqellhcam87jdi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32897545778-estr1cgh0la0nkqb4fdqellhcam87jdi</string>
	<key>API_KEY</key>
	<string>AIzaSyCS2xPDEFzZWp1NHLQ8FvELH5OzGCBXo4E</string>
	<key>GCM_SENDER_ID</key>
	<string>32897545778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.leagify</string>
	<key>PROJECT_ID</key>
	<string>leagify-578b3</string>
	<key>STORAGE_BUCKET</key>
	<string>leagify-578b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32897545778:ios:5f520054b672b3d5d12e2b</string>
</dict>
</plist>